{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link rel="icon" href="{% static 'warehouse/img/favicon.png' %} ">
    <link rel="apple-touch-icon" href="{% static 'warehouse/img/apple-touch-icon.png' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link rel="stylesheet" href="{% static 'warehouse/assets-panel/vendor/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'warehouse/assets-panel/vendor/quill/quill.snow.css' %}">
    <link rel="stylesheet" href="{% static 'warehouse/assets-panel/vendor/quill/quill.bubble.css' %}">
    <link rel="stylesheet" href="{% static 'warehouse/assets-panel/vendor/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'warehouse/assets-panel/vendor/simple-datatables/style.css' %}">


    <link rel="stylesheet" href="{% static 'warehouse/assets-panel/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'warehouse/assets-panel/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'warehouse/assets-panel/vendor/bootstrap-icons/bootstrap-icons.css' %}">







    </style>
</head>

<body>
<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'warehouse/assets/img/nautiqus-logo.jpeg' %}" alt="">
                  <span class="d-none d-lg-block">WMS Nautiqus</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Panel logowania</h5>
                    <p class="text-center small">Wpisz swój login oraz hasło.</p>
                  </div>

                  <form class="row g-3 needs-validation" method="POST" action="/zaloguj" novalidate>
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Login</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Wpisz swój poprawny login.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Hasło</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Wpisz swoje poprawne hasło!</div>
                    </div>



                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Zaloguj</button>
                    </div>
                  </form>

                </div>
              </div>



            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

<script src="{% static 'warehouse/assets-panel/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'warehouse/assets-panel/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'warehouse/assets-panel/vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'warehouse/assets-panel/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'warehouse/assets-panel/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'warehouse/assets-panel/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'warehouse/assets-panel/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'warehouse/assets-panel/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'warehouse/assets-panel/js/main.js' %}"></script>

</body>

</html>