{% extends 'base.html' %}
{% load static %}
{% static "" as staticUrl %}
{% block content %}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Operacje magazynowe</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-panel.html">Główna</a></li>
                <li class="breadcrumb-item active">Operacje magazynowe - Plan dnia</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">


                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales ">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Karta operacji</h5>

                                <table class="table table-hover">
                        <thead>
                        <tr>


                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"><b>Data operacji</b></th>
                            <td>{{ operation.end_time|date:"Y-m-d" }} | <b> {{ operation.start_time|date:"H:i" }} - {{ operation.end_time|date:"H:i" }}</td>

                        </tr>
                        <tr>
                            <th scope="row"><b>Rodzaj operacji</b></th>
                            <td>{{ operation.get_operation_type_display }}</td>

                        </tr>
                        <tr>
                            <th scope="row"><b>Numer rampy</b></th>
                            <td colspan="2">{{ operation.get_ramp_number_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>Klient</b></th>
                            <td colspan="2">{{ operation.get_customer_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>Towar</b></th>
                            <td colspan="2">{% if operation.cargo_name %} {{ operation.cargo_name }} {% else %} - {% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>Waga</b></th>
                            <td colspan="2">{% if operation.weight %} {{ operation.weight }} {% else %} - {% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>Notatka</b></th>
                            <td colspan="2">-</td>
                        </tr>
                        <tr>
                            <th scope="row"><b>CUT OFF CY</b></th>
                            <td>{{ operation.cut_off|date:"Y-m-d" }} <b> {{ operation.cut_off|date:"H:i" }}</td>

                        </tr>

                        <tr {% if operation.status == "pending" %} class="table-warning" {% elif operation.status == "accepted" %} class="table-success" {% endif %}>
                            <th scope="row"><b>Status</b></th>
                            <td colspan="2">{{ operation.get_status_display }}</td>
                        </tr>
                        </tbody>
                    </table>
{% if operation.status == 'pending' and user.role == 'magazynier' %}
                    <div class="border-top border-1 pt-2 w-100">
                        <b class="">POLE AKCEPTACJI</b>



                        <div id="warning-div-{{ operation.id }}" class="alert alert-danger pt-2 pb-2 mt-2 mb-2" role="alert"><b>Uwaga! Zakończenie operacji jest po CUT OFF CY.</b></div>
                        <form class="row g-3 " method="POST"
                              action="/operacje/akceptacja/{{ operation.pk }}">
                            {% csrf_token %}
                            <div class="col-5">

                                <input value="{{ operation.start_time|date:"Y-m-d" }}T{{ operation.start_time|date:"H:i" }}"
                                       name="acceptation_datetime"
                                       type="datetime-local"
                                       class="form-control"

                                       id="inputEmail4-{{ operation.id }}">
                            </div>



                            <div class="col-4">

                                <select id="inputState"
                                        class="form-select"
                                        name="ramp_number">
                                    <option>Wybór rampy..</option>
                                    <option {% if operation.ramp_number == 'ramp1' %}selected {% endif %} value="ramp1">Rampa
                                    1
                                    </option>
                                    <option {% if operation.ramp_number == 'ramp2' %}selected {% endif %} value="ramp2">Rampa 2
                                    </option>
                                    <option {% if operation.ramp_number == 'ramp3' %}selected {% endif %} value="ramp3">Rampa 3
                                    </option>
                                </select>
                            </div>
                            <div class="col-3">
                                <button type="submit"
                                        class="btn btn-outline-success">
                                    Akceptuj
                                </button>
                            </div>
                        </form>


                    </div>
                    {% endif %}
                    <div class="d-flex">
    <a href="{{ day_url }}" class="btn btn-primary me-2">Widok dnia</a>
    <a href="{{ week_url }}" class="btn btn-primary me-2">Widok tygodnia</a>
    {% if operation.status == "accepted" and user.role == 'magazynier' %}
        <form method="POST" action="/operacje/akceptacja-cofniecie/{{ operation.pk }}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">
                Cofnij akceptację
            </button>
        </form>
    {% endif %}
</div></div>



                        </div>
                    </div><!-- End Recent Sales -->



                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                                   <form method="post" action="/operacje/wgraj-zdjecie/{{ operation.pk }}" enctype="multipart/form-data">
                              <div class="card-body">
                                  <h5 class="card-title">Zdjęcia z załadunku <span>| Wszystkie</span></h5>
                                {% csrf_token %}
                                  <div class="mb-3 d-flex align-items-center">
    <!-- Pole wyboru pliku -->
 <div class="me-3">
                <input type="file" id="image" name="image" multiple class="form-control" accept="image/*" capture="environment">
            </div>
    <!-- Przycisk przesyłania -->
    <button type="submit" class="btn btn-primary">Prześlij zdjęcia</button>
</div>
                              </div>
                            </form>




                                <!-- Galeria zdjęć -->
<div class="container mt-4">
    <div class="row g-3">
        <!-- Zdjęcie 1 -->
        {% for photo in photos %}
        <div class="col-md-4 text-center">
            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="{{ photo.image.url }}">
                <img src="{{ photo.image.url }}" class="img-fluid rounded mb-2 thumbnail" alt="Zdjęcie 1">
            </a>
            <form action="/zdjecie/usun/{{ photo.pk }}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="photo_id" value="1">
                <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
            </form>
        </div>
        {% endfor %}

    </div>
</div>


<!-- Modal do podglądu zdjęć -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <img src="" class="img-fluid" id="modalImage" alt="Podgląd zdjęcia">
      </div>
    </div>
  </div>
</div>


<!-- Skrypt do zmiany obrazu w modalu -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById('imageModal');
        var modalImage = document.getElementById('modalImage');

        modal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var imageSrc = button.getAttribute('data-bs-image');
            modalImage.src = imageSrc;
        });
    });
</script>



                            </div>

                        </div>
                    </div><!-- End Recent Sales -->





                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">




                <!-- Zarzadzanie -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Zarządzanie</h5>


                            <div class="col-6">
                                        <a href="/operacje/edytuj/{{ operation.pk }}" class="btn btn-primary">Edytuj operację</a>
                                    </div>


                    </div>
                </div><!-- End Calendar -->

                {% include "warehouse/modules/najblizsze_operacje.html" %}


            </div><!-- End Right side columns -->

        </div>
    </section>

    <script src="{% static 'warehouse/time-shedule/assets/js/util.js' %}"></script>
    <!-- util functions included in the CodyHouse framework -->
    <script src="{% static 'warehouse/time-shedule/assets/js/main.js' %}"></script>




<!--    <script src="{% static 'warehouse/calendar/js/jquery.min.js' %}"></script>-->
<!--    <script src="{% static 'warehouse/calendar/js/popper.js' %}"></script>-->
<!--    <script src="{% static 'warehouse/calendar/js/bootstrap.min.js' %}"></script>-->
<!--    <script src="{% static 'warehouse/calendar/js/main.js' %}"></script>-->
<script>
    // Pobierz datę CUT_OFF z backendu
    const CUT_OFF_{{ operation.id }} = new Date("{{ operation.cut_off|date:'Y-m-d' }}T{{ operation.cut_off|date:'H:i' }}");
    const OPERATION_DURATION_{{ operation.id }} = {{ operation.get_operation_duration }};

    console.log("OPERATION_DURATION:", OPERATION_DURATION_{{ operation.id }});
    const inputField_{{ operation.id }} = document.getElementById('inputEmail4-{{ operation.id }}');
    const warningDiv_{{ operation.id }} = document.getElementById('warning-div-{{ operation.id }}');

    // Ukryj div ostrzeżenia na starcie
    warningDiv_{{ operation.id }}.style.display = 'none';

    // Funkcja sprawdzająca wartość pola input
    function checkInputValue() {
        const inputValueString = inputField_{{ operation.id }}.value; // Pobierz wartość jako string
        if (inputValueString) {
            const inputValue = new Date(inputValueString); // Zamień na obiekt Date
            console.log("Selected date and time:", inputValueString, "Parsed date:", inputValue, "CUT_OFF:", CUT_OFF_{{ operation.id }});
            const operationEndTime_{{ operation.id }} = new Date(inputValue.getTime() + OPERATION_DURATION_{{ operation.id }} * 1000);
            // Porównaj daty
            if (operationEndTime_{{ operation.id }} >= CUT_OFF_{{ operation.id }}) {
                // Wyświetl ostrzeżenie, jeśli wartość przekracza CUT_OFF
                warningDiv_{{ operation.id }}.style.display = 'block';
            } else {
                // Ukryj ostrzeżenie w przeciwnym przypadku
                warningDiv_{{ operation.id }}.style.display = 'none';
            }
        } else {
            // Ukryj ostrzeżenie, jeśli pole input jest puste
            warningDiv_{{ operation.id }}.style.display = 'none';
        }
    }

    // Sprawdź wartość po załadowaniu strony
    document.addEventListener('DOMContentLoaded', checkInputValue);

    // Dodaj event listener na zmianę wartości pola input
    inputField_{{ operation.id }}.addEventListener('input', checkInputValue);
</script>

</main><!-- End #main -->
{% endblock %}

